/* Netflix style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/23.-turtle-swimming-over-coral-reefs.-david-attenborough-a-life-on-our-planet.jpg);
    background-size: cover;
    color: white;
    background-color: black;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Open Sans", sans-serif;
  
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 32px;
    margin-bottom: -15px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 15px;
}

#menu {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    width: 100%;
    background-color: black;
    margin: 0;
    top: 0;
    position: fixed;
    padding: 0 50px;
}

#navLeft #navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav li {
    display: inline;
    list-style: none;
    margin: 15px;
    font-size: 14px;
}

.nav a {
    display: inline-block;

}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: color 1s;
}

a:hover {
    text-decoration: none;
    color: gray;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    margin-top: 68px;
    margin-left: 70px;
}

#netflix-film {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 60vh;
}

#film {
    font-size: 24px;
    margin-left: 15px;
}

#resume {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60vh;
}

#button {
    width: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#lecture {
    width: 125px;
    height: 40px;
    padding: 0px 15px;
    margin: 5px;
    color: black;
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

#infos {
    width: 150px;
    height: 40px;
    color: white;
    padding: 0px 15px;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.90);
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    transition: all;
}

#infos:hover{
    background-color: rgba(128, 128, 128, 0.50);
}

#lecture:hover{
    background-color: rgba(255, 255, 255, 0.75);
}

footer>img {
    margin: 0px 2px 0px 2px;
}

.vignette {
    border-radius: 5px;
    transition: all 0.5s;
}

.vignette:hover {
    transform: scale(1.2);
}

#bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}


h3 {
    margin-left: 70px;
    font-family: "Open Sans", sans-serif;
    font-size: 24px; 
}

#age {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.75);
    padding-left: 20px;
    border-left-color: white;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: 10px;

}

#bottomRight {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
